<footer class="md-footer">
    <!-- Footer -->
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        <!-- Copyright and theme information -->
        <div class="md-copyright">
          <a href="/at2018/sitemap.xml" title="Adeptus Titanicus Site Map">AT Site Map</a>
          |
          <a href="/li2023/sitemap.xml" title="Legions Imperialis Site Map">LI Site Map</a>
          |
          <a href="https://discord.gg/XkFPPEUDGy" title="Feedback Discord Channel">Feedback Discord </a>
          |
          <a href="https://wahapedia.ru/" title="Wahapedia">Wahapedia </a>
          |
          <a href="https://bloodbowlbase.ru/" title="Blood Bowl Base">Blood Bowl Base </a>          
          |
          <a href="https://prancingponypub.ru/" title="Prancing Pony Pub">Prancing Pony Pub </a>
        </div>
      </div>
    </div>
  </footer>
